:root {
    --brand-color: var(--ghost-accent-color, #88c0d0);
    --primary-text-color: #d8dee9;
    --secondary-text-color: #5e81ac;
    --white-color: #eceff4;
    --lighter-gray-color: #4c566a;
    --color-lighter-gray: #434c5e;
    --light-gray-color: #434c5e;
    --mid-gray-color: #3b4252;
    --dark-gray-color: #2e3440;
    --darker-gray-color: #3b4252;
    --black-color: #2e3440;
    --green-color: #a3be8c;
    --orange-color: #ebcb8b;
    --red-color: #bf616a;
    --facebook-color: #5e81ac;
    --twitter-color: #81a1c1;
    --rss-color: #d08770;
    --animation-base: ease-in-out;
    --font-sans: monospace, Menlo, Consolas, Monaco, Liberation Mono, Lucida Console;
    --font-serif: monospace, Menlo, Consolas, Monaco, Liberation Mono, Lucida Console;
    --font-mono: monospace, Menlo, Consolas, Monaco, Liberation Mono, Lucida Console;
    --navbar-height: 80px;
    --content-font-size: 1.7rem;
    --header-spacing: 60px;
}

@media (max-width: 767px) {
    :root {
        --header-spacing: 30px;
    }
}

body {
    color: var(--primary-text-color);
    background-color: var(--white-color);
}

a {
    color: var(--darker-gray-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
    color: var(--darker-gray-color);
}
